/* RESET : remove espaçamentos pádrão do navegador */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#cfd7de;
}

/* Layout principal (sidebar + conteúdo lado a lado) */
.layout{
display:flex;
min-height:100vh;
}

/* SIDEBAR LATERAL*/
.sidebar{
width:260px;
background:#5e86a5;
color:white;
padding:20px;
transition:0.3s;
}

/* quando clicar no botão */
.sidebar.close{
width:70px;
}

.perfil{
text-align:center;
margin-bottom:30px;
}

.foto-perfil{
width:90px;
height:90px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
}

.menu a{
display:block;
padding:10px;
margin:5px 0;
cursor:pointer;
}

.menu .ativo{
background:#3f6aa0;
border-radius:8px;
}

/* MAIN - área principal */
.main{
flex:1;
padding:30px;
}

/* TOPO */
.topo{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.topo-right{
display:flex;
gap:10px;
align-items:center;
}

.logo{
height:30px;
}

.flag{
height:20px;
}

/* TITULO */
.titulo{
margin-bottom:20px;
}

.titulo h1{
font-size:30px;
}

.titulo p{
color:#5f6f7a;
}

/* GRAFICO */
.grafico{
background:#6f8fa7;
padding:20px;
border-radius:20px;
color:white;
max-width:900px;
}

.grafico-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.filtro button{
background:#4e6f8d;
border:none;
color:white;
padding:5px 10px;
border-radius:10px;
}

/* CALENDÁRIO em grade*/
.calendario{
display:grid;
grid-template-columns:repeat(7,1fr); /* 7 colunas(dias da semana) */
gap:10px;
}

/* cada dia */
.calendario div{
background:rgba(255,255,255,0.2);
padding:15px;
text-align:center;
border-radius:10px;
transition:0.2s;
}

/* DIA ATUAL */
.calendario .hoje{
border:2px solid #00ffcc;
}

/* DIA COM ATIVIDADE */
.calendario .ativo{
background:#3ecf8e;
}

/* hover */
.calendario div:hover{
transform:scale(1.05);
}

/* CARDS */
.cards{
display:flex;
gap:20px;
margin-top:30px;
max-width:900px;
}

.card{
flex:1;
background:#e9eef2;
padding:20px;
border-radius:15px;
}